header{
    background-image: url(img/turf.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  
}
body{
    background-color:navy;
    text-align: center;
    margin: 0;      
}

h1{
    font-family: Arial, Helvetica, sans-serif; color: goldenrod;
    font-size: 90px;
    background-color: orangered;
    border-spacing: 2px;
    border-style:solid; color:white;
    padding-top: 20px;
    
}

h2{
    font-family: Arial, Helvetica, sans-serif; color: white;
    font-size: 36px;
    text-decoration: underline;
    text-align: auto;
    padding-top: 25px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;
    font-size: 24px;
    text-align: left;
   }

ul a{
    text-align: left;
    font-size: 24px; color: slategray;
    box-align: center;
          
    
}

ul a:hover{
    color: white;
    background: slategrey;
    
}

a:visited{
    color:greenyellow;
}


ol{
    text-align: center;
    font-size: 36px; color: rgba(241, 241, 245, 0.26);
    text-shadow: 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 25px;
    
}

li {
    counter-increment: item;
    margin-bottom:5px;
    background-size: 15px;
}

.main-header{
    background-image: url("img/turf.jpg")
}

.players {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 10px;
    padding-top: 5px;
    border-left: 5px solid rgb(22, 170, 175);
    border-top: 5px solid rgb(22, 170, 175);
    border-bottom: 5px solid rgb(22, 170, 175);
    border-right: 5px solid rgb(22, 170, 175);
    
  }

  img{
      margin-left:auto;
      margin-right: auto;
  }

  footer{
      
    bottom:0;
    width:100%;
      height:50px;
      background: green;
      border-top:2px solid yellow;
      border-bottom:2px solid yellow;
      font-size:18px;
  }